@import "tailwindcss";




/* loading animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1.2s linear infinite;
}


/* slide right animation */
@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slide-left 0.3s ease-out;
}


.leaflet-popup-content-wrapper{
   background: transparent !important;
   border-radius: 0px !important;
  
  @apply
  shadow-none
}

.leaflet-popup-content{
  position: relative;
  padding: 0px !important;
  margin: 0px !important;
  background: transparent !important;
  border-radius: 0px !important;
  @apply
  shadow-none
}



